/* -------------------------------general things  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root
{
    --primary-color: #1c6868;
    --text-dark: #171717;
    --text-light: #737373;
    --extra-light: #f4f6f5;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
}
html{
    font-size: 14px;
}
body{
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
}
nav{
    z-index: 2;
    font-family: var(--header-font);
    position: fixed;
    max-width: var(--max-width);
    width: 100%;
   
}
.container{
    max-width:var(--max-width);
    margin: auto;
    padding: 4rem 1rem;
} 
/*-------------------------------- general things  */

/* start the nav bar in the phone  */
body{height: 200vh;}
.nav-logoButton{
    position: relative;
    z-index: 2;
    padding: .6rem 1.5rem;
    justify-content: space-between;
    display: flex;
    color: var(--white);
    background-color: var(--primary-color);
}
.nav-logoButton .logo{
    cursor: pointer;
}
.nav-logoButton .logo a{
    color: var(--white);
    text-decoration: none;
    
}
.nav-menu-btn{
    cursor: pointer;
}



.nav-links{
    gap: .5rem;
    z-index: 1;
    top: -124px;
    position: absolute;
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .4s;
}
.nav-links.open{
    top: 33px;
}
.nav-links li{
    list-style: none;
    cursor: pointer;
    padding: .5rem 1rem;
}

.nav-links li:hover{
background-color: #326969;
}
.nav-links li a{
    text-decoration: none;
    color: var(--white);
}
.nav-search {
    display: none;
}

/* end of nav bar */
/* start of the header section  */
.header {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--primary-color);
  }
.header-section{
    z-index: -1;
    position: relative;
    display: grid;
    overflow: hidden;
}
.header-img{
    margin-inline:auto;
    grid-area: 1/1/2/2;
}
.header-img img{
    width: 100%;
    max-width: 900px;
}
.header-text{
    grid-area: 1 / 1 / 2 / 2;
    DISPLAY: flex;
    align-items: center;
}
.header-text > div{
    max-width: 500px;
    padding:4rem 1rem;
    background-color: rgba(255, 255, 255,.5);
    backdrop-filter: blur(9px);
}

.header-text h1{
font-family: var(--header-font);
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 4rem;
}

.header-text p{
font-size: 1.2rem;
color: var(--text-light);
}
/* end of the header section  */
/* start the deals section  */
.deals {
    
}
.deals.container{
    z-index: -1;
    position: relative;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.deals-card{
    cursor: pointer;
    border-radius: .5rem;
    padding: 1rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    flex-basis: 100%;
    transition: .1s;
}
.deals-card:not(:first-child):hover{
    background-color: var(--extra-light);
}
.deals-card span{
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 2rem;
    display: block;
    width: fit-content;
}
.deals-card h4{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.deals-card p{
    font-size: 1.2rem;
    color: var(--text-light);

}
/* end the deals section  */
/* start about-us */
.about-us{

}
.about-us-learn-more{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
}
.about-us-learn-more .text{
    padding: .5rem;
    flex-basis: 100%;
}
.about-us-learn-more .text p{
    font-size: 1.2rem;
    color: var(--text-light);
    margin-bottom: 1rem;

}
.about-us-learn-more button{
    border-radius: .3rem;
    margin-left: 1rem;
    text-transform: capitalize;
    padding: .7rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
}
.about-us-learn-more button:hover{
    cursor: pointer;
    background-color: #014545;
}
.about-us-info{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}
.about-us-info .text{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    flex-basis: 100%;
    margin-top: 3rem;
    order: 2;

}
.about-us-info .text .card{
    margin-bottom: 1rem;
    flex-basis: 100%;
}

.about-us-info .text .card h3 {
    font-size: 1.5rem;
    margin-bottom: .6rem;
    text-transform: capitalize;
    color: var(--primary-color);
}
.about-us-info .text .card p {
    font-size: 1.2rem;
    color: var(--text-light);
    margin-bottom: 1rem;
}
.about-us-info .image img{
    max-width: 100%;
}
/* end about-us */
/* start products  */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products h2{
    width: 100%;
}
.product {
    flex-basis: 100%;
    padding: 1.5rem 1rem;
    margin-bottom: 2.5rem;
    position: relative;
    cursor: pointer;
}
.product::after{
    z-index: -1;
    top: 0;
    right: 0;
    position: absolute;
    content: "";
    background-color: #eee;
    width: 100%;
    height: 66%;
    transition: .5s;
}
.product:hover::after{
    height: 100%;

}
.product .text{}
.product .text h3{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.product .text p{
    color: var(--text-light);
}
.product .img{
    text-align: center;
}
.product .img img{
    max-width: 90%;
}

/* end products  */
/* start client  */
.client{
    margin-bottom: 4rem;
    height: 100vh;
    position: relative;
    background-color: var(--extra-light);
}
.client-content{
    text-align: center;
    width: 75%;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.client-content p{
    font-size: 1.2rem;
    color: var(--text-light);
}
.client-arrow{
    cursor: pointer;
    top: 45%;
    color: var(--text-dark);
    position: absolute;
    font-size: 4rem;
}
.client-arrow.left{
left: 10%;
}
.client-arrow.right{
right: 10%;
}
.client-swipe-area{
    margin-inline: auto;
    width: 75%;
    position: relative;
}
.client-card{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
display: flex;
    transition: .3s;
    opacity: 0;
}
.client-card.active{
   opacity: 1;
}
.client-card .img{
    margin-bottom: .5rem;
    flex-basis: 65%;
}
.client-card .img img {
    max-width: 100%;
}
.client-card .text{
    text-align: center;
flex-basis: 100%;
}

.client-card .text p{
    word-spacing: 5px;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--text-light);
}
.client-card .text h4{
    margin-bottom: .3rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.client-card .text h5{
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 500;
}
/* end client  */
/* start footer  */
.footer{
background-color: var(--primary-color);
}
.footer-content{
    margin-bottom: 3rem;
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
.footer-content p{
    margin-block: .5rem;
    font-size: 1.2rem;
    color: #ccc;
}
.footer-content .socials{
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.footer-content .socials li a{
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.footer-content .socials li a:hover{
    color: #ccc;
}
.footer-content .logo{
    font-weight: 600;
    font-family: var(--header-font);
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
}

.footer-content > div{
    flex-basis: 100%; 
    margin-bottom: 2rem;
}
.footer-content > div h3{
    text-transform: capitalize;
    color: white;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.footer-content > div ul{
list-style: none;
}
.footer-content > div ul li{
    font-size: 1.2rem;
    color: #ccc;
}
.footer-copyright{
    margin-inline: auto;
    width: fit-content;
    font-size: .8rem;
    color: #ccc;
}
footer.container{
    padding-bottom: .8rem;
}
/* end footer  */
@media (width>584px) {
    .deals-card{
        flex-basis: 47%;
        }
        /* about  */
        .about-us-info .text .card{
text-align: center;
        }
        /* product  */
        .product{
            flex-basis: 48%;
        }
        .client{
            height: 110vh;
        }
/* footer  */
.footer-content > div{
    flex-basis: 49%;
}
}
@media (width > 768px) {
    html{
        font-size: 16px;
    }
    nav{
        position: relative;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-logoButton .logo a {
        font-weight: bold;
        font-size: 1.2rem;
        color:var(--primary-color)
    }
    .nav-logoButton{
        background-color: transparent;
    }
    .nav-logoButton .nav-menu-btn{
        display: none;
    }
    .nav-links{
        flex-direction: row;
        top: 0;
        width: fit-content;
        position: relative;
        background-color: transparent;
    }
    .nav-links li a{
        color: var(--text-dark);
    }
    .nav-links li:hover{
        background-color: transparent;
    }
    .nav-links li:hover a{
color: var(--text-light);
    }

    .nav-search {
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }
    .nav-search input{
        padding: .3rem 1rem;
        width: 0;
        border: none;
        outline: none;
        transition: .3s;
    }
    .nav-search input.open{
        border: 1px solid var(--primary-color);
        width: 100%;
    }
    .nav-search span{
        cursor: pointer;
        margin-left: 1rem;
    }
    /* end nav */
    /* header  */
    .header-section{
        padding-top: 0;
    }
    /* end header  */
    /* start deal  */
    .deals-card{
        flex-basis: 32%;
        text-align: center;
        } 
        .deals-card:first-child{
            flex-basis: 100%;
        }
        .deals-card span{
            margin-inline: auto;

        }
    /* end deal  */
    /* start about-us  */
    .about-us-learn-more{
        
        justify-content: space-between;
    }
    .about-us-learn-more .text{
        flex-basis: 50%;
    }
    
    
.about-us-info .text {
    order: 1;
    flex-basis: 48%;
}
.about-us-info .image{
    order: 2;
    flex-basis: 50%;
}
.about-us-info .text .card{
  text-align: start;  
flex-basis: 50%;
}
    /* end about-us  */
       /* product  */
       .product{
        flex-basis: 32%;
    }
    /* end product  */
    /* clients  */
    .client-content{
        width: 65%;
    }
    .client-swipe-area{
        width: 60%;

    }
    .client-card{
        justify-content: space-between;
    }
    .client-card .img{
        flex-basis: 32%;
    }
    .client-card .text{
    flex-basis: 60%;
    } 
    .client{
        height: 80vh;
    }
    /* end clients  */ 
     
    /* footer */
    .footer-content > div{
        flex-basis: 24%;
    }
    
}